<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Manager name:</strong>
    <%= project.manager_name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= project.state %>
  </p>

</div>
